.heroSection {
   background: linear-gradient(
         0deg,
         rgba(255, 255, 255, 0.93),
         rgba(255, 255, 255, 0.93)
      ),
      url("/public/banner-bg.webp");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}
